<header class="w3-container w3-xlarge">
  {% assign picture = page.title | default: "background" %}
  {% assign picture = picture | replace: "-", " " | capitalize" %}  
  {% if page.layout == 'poema' %}
    {% assign picture = page.category | default: "background" %}
    {% assign picture = picture | replace: "-", " " | capitalize" %}    
  {% endif %}

  <div class="background-image">
    <img src=" {{ site.baseurl }}/assets/images/{{picture}}.png" width="100%">        
  </div>
  
    
  <!--<p class="w3-left w3-medium label">{{site.title}}/</p>-->
  <p class="w3-right">
    
    <a href="https://reynaldocv.github.io/" target="_blank">
      <i class="fa fa-github-alt w3-hover-opacity w3-medium"></i>
    </a>

    <a href="https://github.com/reynaldocv/" target="_blank">
      <i class="fa fa-github w3-hover-opacity w3-medium"></i>
    </a>      

    <a href="https://www.linkedin.com/in/reynaldocv" target="_blank">
      <i class="fa fa-linkedin w3-hover-opacity w3-medium"></i>
    </a>

    <a href="https://www.leetcode.com/reynaldocv" target="_blank">
      <i class="fa fa-code w3-hover-opacity w3-medium"></i>
    </a>
  </p>
</header>